@media (max-width: 1200px) {
    .header {
        .full {
            display: block;
        }
        .small {
            display: none;
        }
        &__logo {
            left: 41%;
        }
    }

    .content {
        &__center {
            justify-content: center;
            gap: 49px;
            &-rigth {
                h3 {
                    font-weight: bold;
                    color:#ffff00;
                }
                text-align: center;
                color: $main-color;
                div {
                    height: 100px;
                }
            }
        }
    }
    .footer {
        padding: 9px 30px;
        height: 139px;
    }

}


@media (max-width: 991px) {
    .header {
        .full {
            display: block;
        }
        .small {
            display: none;
        }
        &__logo {
            left: 40%;
        }
    }

    .content {
        &__center {
            flex-direction: column;
            align-items:center;
            gap: 5px;
            padding: 22px 0;
            &-rigth {
                display: none;
                position: relative;
                text-align: center;
                color: $main-color;
                h3 {
                    font-weight: bold;
                    color:#ffff00;
                }
                div {
                    height: 100px;
                }
            }
        }
    }
    .footer {
        padding: 9px 30px;
        height: 139px;
    }

}

@media (max-width: 767px) {
    .header {
        .full {
            display: none;
        }
        .small {
            display: block;
        }
        &__logo {
            top: 25px;
            left: 39%;
        }
    }
    .content {
        &__center {
            flex-direction: column;
            align-items:center;
            gap: 5px;
            &-rigth {
                display: none;
                h3 {
                    font-weight: bold;
                    color:#ffff00;
                }
                text-align: center;
                color: $main-color;
            }
        }
    }
    .footer {
        padding: 11px 30px;
        height: 140px;
    }

}

@media (max-width: 575px) {
        .header {
            width: 100vw;
            height: 80px;
            img {
                width: 60px;
            }
            h1 {
                font-size: 30px;
            }
            &__logo {
                top: 14px;
            }
        }
    
    .content {
        &__center {
            flex-direction: column;
            align-items:center;
            gap: 5px;
            padding: 32px 0;
            &-rigth {
                display: none;
               
            }
            .contact {
                &__form {
                    width: 293px;
                    margin-left: 0;
                }
                form {
                    width: 93%;
                }
            }
        }
    }
    .footer {
        width: 100vw;
        height: 169px;
        padding: 11px 30px; 
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            font-size: 23px;
            align-self: center;
        }
        &__contacts {
            font-size: 15px;
            & div{
                font-size: 13px;
            }

        }
    }

}

@media (max-width: 320px) {
    .header {
        width: 323px;
        height: 100px;
        .full {
            display: none;
        }
        .small {
            display: block;
        }
        img {
            width: 60px;
        }
        h1 {
            font-size: 30px;
        }
    }
    .content {
        &__center {
            flex-direction: column;
            align-items:center;
            gap: 5px;
            padding: 9px 0;
            &-rigth {
               display: none;
            }
        }
        h2 {
            font-size: 20px;
        }
        form {
            padding: 5px;
        }
    }
    .contact {
        min-height: 400px;
        &__form {
            width: 265px;
        }
    }
    .footer {
        width: 323px;
        padding: 5px 13px;
        height: 153px;
        &__content {
            flex-direction: column;
        }
        &__logo {
            font-size: 23px;
        }
        &__contacts {
            div{
                font-size: 11px;
            }
        }
    }
}