.header {
    border-bottom: 2px solid rgba(37, 84, 199);
    padding: 10px 0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    height: 85px;
    position: relative;
    margin-bottom: 20px;
    z-index: 3;
    
    &::before,
    &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    z-index: -1;
    }

    &::before {
        height: 10px;
        background-size: 20px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, rgba(37, 84, 199) 13px);
      }
    
      &::after {
        height: 15px;
        background-size: 40px 20px;
        background-image: radial-gradient(circle at 10px 15px, rgba(37, 84, 199) 12px, transparent 13px);
      }

      
    &__logo {
        top: 15px;
        left: 44%;
        transform: translateX(-50%);
        position: absolute;
        width: 100px;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            width: 78%;
            border: 1px solid #fff;
            border-radius: 27px;
        }
        h1 {
            -webkit-text-stroke: 1px #FFFF;
            font-weight: 500;
            color: $main-color;
        }
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .header {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);  
    }
  }


